{
  "semi": true,
  "parser": "typescript",
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSameLine": true,
  "trailingComma": "none"
}
